
.nav-container{
  font-weight: bolder;
}

.cardcontainer{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

.card:hover{
  transition: transform .4s;
  transform: scale(1.05);
}

.detail-items{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:2rem;
  
}

.detail-container{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border:solid 3px black;
  margin: 8px 8px;
  border-radius:20px;
  height:600px
}

.detail-img{
  border-radius:10px;
  width:30rem;
  height:20rem;
}

.btn-container{
  display: flex;
  justify-content:between;
  margin-top:10px
}